APPID=2021*************
KEY=Ag******************
TENCENTID=AKI*******************************
TENCENTKEY=uZz*****************************

# tencent | baidu | ollama
TRANSLATOR_ENGINE=tencent

# ollama 配置
OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen3.5:2b
OLLAMA_TIMEOUT=120000
OLLAMA_TEMPERATURE=1.0
